html {
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(images/grass.jpg);
    zoom: 25%;

}

body {

	font-family: Lato, sans-serif;
	margin: 0 !important;
    padding: 0 !important;
    zoom: 90%;
}

#canvas_div {
    margin: auto;
    width: 4000px;
    height: 3000px;
}

#canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*transform: translate(0px, -1970px);*/
}