html {
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(images/grass.jpg);
    background-size: 3.5%;
    position: relative;
    width:100%; height:100%;
}

body {
	font-family: Lato, sans-serif;
    cursor: url(images/my_cursor.png), auto;
    width:100%;
    height:100%;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.question_div_container {
    cursor: url(images/my_cursor.png), auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;
}

.question_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 50%;
    height: 75%;

    padding: 60px;
    background: url(images/scroll.png) no-repeat left top;
    background-size: contain;

    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1rem;
    color: rgb(51, 0, 0);
}

.question_div .answers ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.question_div .answers li {
    background-color: tan;
    border: 1px solid darkred;
    padding: 10px;
    margin: 2px;
}

.question_div .submit_button p {
    background-color: tan;
    border: 1px solid darkred;
    padding: 5px;
    margin: 1px;
}

.question_div .answers li:hover, .question_div .submit_button p:hover {
    background-color: lightgreen;
}

.indication_div_container {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.indication_div {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    align-content: center;

    width: 25%;
    height: 30%;

    text-align: center;

    padding: 90px;
    background: url(images/iscroll.png) no-repeat left top;
    background-size: contain;

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1rem;
    color: rgb(51, 0, 0);
}

.indication_div .exit_button {
    align-self: center;
}

.indication_div .indication {
    text-align: center;
    vertical-align: middle;
    margin-top: -25%;
    margin-bottom: -5%;
}

.indication_div .exit_button p {
    background-color: tan;
    border: 1px solid darkred;
    margin: 1px;
}

.indication_div .exit_button p:hover {
    background-color: lightgreen;
}


.rewards{
    height: 40px;
}

.gems{
    position: absolute;
    top: 0;
    background: transparent url(images/diamond.png) no-repeat;
    background-size:contain;
    height: 80px;width:80px;
}

.gems .gems-score{
    position: absolute;
    margin: 0;
    color: white;
    text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0 0, black 0 -2px 0, black -2px 0 0, black 0 2px 0;
    text-align: center;
    bottom: 30px;
    left: 35px;
}

.stars{
    position: absolute;
    top: 0px;
    background: transparent url(images/star.png) no-repeat;
    background-size:contain;
    height:70px;width:70px;
    left: 90px;
}

.stars .stars-score{
    position: absolute;
    margin: 0;
    color: white;
    text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0 0, black 0 -2px 0, black -2px 0 0, black 0 2px 0;
    text-align: center;
    bottom: 20px;
    left: 28px;
}