html {
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(images/grass.jpg);
    background-size: 3.5%;
    cursor: default;
    /*zoom: 25%;*/
}

body {
	font-family: Lato, sans-serif;
	margin: 0 !important;
    padding: 0 !important;
}

#canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    cursor: url(images/my_cursor.png), auto;
}

.question_div_container {
    cursor: url(images/my_cursor.png), auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;
}

.question_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 50%;
    height: 75%;

    padding: 60px;
    background: url(images/scroll.png) no-repeat left top;
    background-size: contain;

    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1rem;
    color: rgb(51, 0, 0);
}

.question_div .answers ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.question_div .answers li {
    background-color: tan;
    border: 1px solid darkred;
    padding: 10px;
    margin: 2px;
}

.question_div .submit_button p {
    background-color: tan;
    border: 1px solid darkred;
    padding: 5px;
    margin: 1px;
}

.question_div .answers li:hover, .question_div .submit_button p:hover {
    background-color: lightgreen;
}


.indication_div_container {
    background-color: rgba(0, 0, 0, 0.7);
    visibility: visible;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.indication_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    width: 25%;
    height: 20%;

    padding: 70px;
    background: url(images/iscroll.png) no-repeat left top;
    background-size: contain;

    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1rem;
    color: rgb(51, 0, 0);
}

.indication_div .exit_button {
    align-self: center;
}

.indication_div .indication {
    margin-top: -30%;
}

.indication_div .exit_button p {
    background-color: tan;
    border: 1px solid darkred;
    padding: 5px;
    margin: 1px;
}

.indication_div .exit_button p:hover {
    background-color: lightgreen;
}