body{
	background: url(images/cloudsV3.png) fixed;
	font-family: Lato, sans-serif;
	margin: 0 !important;
	padding: 0 !important;
}

.portal{
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent url(images/portal-background.png);
	display: flex;
    overflow: hidden;
}

.logo-header {
	position: absolute;
	top: 2%;
	left: 2%;
	z-index: 2;
}

.portals{
	position: absolute;

}

.portal .portals{
	height: 752px;
	flex-wrap: nowrap;
	display: flex;
	overflow: hidden;
	justify-content: space-around;
}

.portal .portals .level{
	width: 320px;
	height: 630px;
	margin-top: 60px;
	display: inline-block;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.25s cubic-bezier(0.11, 0.67, 0.8, 1.42);
    transition: 0.25s cubic-bezier(0.11, 0.67, 0.8, 1.42); 
}

.portal .portals .level:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.portal .portals .level.silhouette {
    -webkit-filter: contrast(50%) brightness(65%);
    -moz-filter: contrast(50%) brightness(65%);
    -o-filter: contrast(50%) brightness(65%);
    filter: contrast(50%) brightness(65%);
}

.portal .portals .level.locked {
	-webkit-filter: contrast(90%) brightness(10%);
    -moz-filter: contrast(90%) brightness(80%);
    -o-filter: contrast(90%) brightness(80%);
    filter: contrast(90%) brightness(10%);    
}

.portal .portals .level.ground {
	background: transparent url(images/ground.svg) no-repeat center center;
}

.portal .portals .level.water {
	background: transparent url(images/bubble2.svg) no-repeat center center;
	filter: grayscale(80%);
}

.portal .portals .level.cloud {
	background: transparent url(images/cloud.svg) no-repeat center center;
	filter: grayscale(80%);
}

.portal .portals .level.fire {
	background: transparent url(images/fire.svg) no-repeat center center;
	filter: grayscale(80%);
}

.portal .portals .level.desert {
	background: transparent url(images/desert.svg) no-repeat center center;
	filter: grayscale(80%);
}

.level.ground{
	float: left;
	margin-right: 50px;
}

.level.water{
	float: left;
	margin-right: 70px;
}

.level.cloud{
	float: left;
	margin-right: 70px;
}

.level.fire{
	float: left;
	margin-right: 70px;
}

.level.desert{
	float: left;
}

.portal .portals .level .level-label {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center; 
}

.portal .portals .level .level-label .level-name, .portal .portals .level .level-label .level-locked{
	margin: 0;
	color: white;
	text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0 0, black 0 -2px 0, black -2px 0 0, black 0 2px 0;
}

.portal .portals .level .level-label .level-locked{
	margin: 32px 0;
}

.portal .gems{
	position: absolute;
	bottom: 0;
   	background: transparent url(images/diamond.png) no-repeat;
    background-size:contain;
    height:80px;width:80px;
}

.portal .gems .gems-score{
	position: absolute;
	margin: 0;
	color: white;
	text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0 0, black 0 -2px 0, black -2px 0 0, black 0 2px 0;
	text-align: center;
	bottom: 30px;
	left: 28px;
}

.portal .stars{
	position: absolute;
	bottom: 8px;
   	background: transparent url(images/star.png) no-repeat;
    background-size:contain;
    height:70px;width:70px;
    left: 90px;
}


.portal .stars .stars-score{
	position: absolute;
	margin: 0;
	color: white;
	text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0 0, black 0 -2px 0, black -2px 0 0, black 0 2px 0;
	text-align: center;
	bottom: 20px;
	left: 25px;
}


.menu{
	position: absolute;
	bottom: 0;
	right: 0;
}

.color-change1 {
	position: absolute;
	bottom: 20px;
	right: 355px;
	border-radius: 2px;
	font-size: 15px;
	padding: 10px 30px;
	cursor: pointer;
	color: #fff;
	background-color: #80dd15;
	border: 1px solid #fff;
	box-shadow: 2px 2px 5px #AFE9FF;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
}

.color-change1:hover {
  color: #006398;
}

button.color-change1 {
  -webkit-appearance: none;
  -moz-appearance: none;
}


.color-change2 {
	position: absolute;
	bottom: 20px;
	right: 200px;
	border-radius: 2px;
	font-size: 15px;
	padding: 10px 50px;
	cursor: pointer;
	color: #fff;
	background-color: #80dd15;
	border: 1px solid #fff;
	box-shadow: 2px 2px 5px #AFE9FF;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
}

.color-change2:hover {
  color: #006398;
}

button.color-change2 {
  -webkit-appearance: none;
  -moz-appearance: none;
}


.color-change3 {
	position: absolute;
	bottom: 20px;
	right: 30px;
	width: 160px;
	text-align: center;
	border-radius: 2px;
	font-size: 15px;
	padding: 10px 50px;
	cursor: pointer;
	color: #fff;
	background-color: #80dd15;
	border: 1px solid #fff;
	box-shadow: 2px 2px 5px #AFE9FF;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
}

.color-change3:hover {
  color: #006398;
}

button.color-change3 {
  -webkit-appearance: none;
  -moz-appearance: none;
}

html{ 
	overflow-y: hidden; 
	overflow-x: hidden;
}

div#myacount{
	visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
	display: flex;
    flex-flow: column;
    align-self: center;
    position: absolute;
    width: 60%;
    z-index: 1;
    left:0;
    right:0;
	margin: auto;
	padding: 10px;
}

div.stats{
    margin: auto;
}

img#stats1{
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: auto;
}

img#stats2{
	width: 100px;
	height: 100px;
	padding: 5px;
	margin: auto;
}

img.profile{
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 50%;
    margin: auto;
}
h2.score{
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

img.logo{
    width: 60%;
    margin: auto;
    padding: 10px;
}

form.myacount {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	font-family: lato, serif;
    color: #333;
    width: 90%;
    padding: 10px;
    z-index: 1;
    margin: auto;
}
input{
	font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
button#myacount {
	font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

#myacount .stats h2 {
	color: white;
	text-align: center;
	text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0 0, black 0 -2px 0, black -2px 0 0, black 0 2px 0;
}